.builder{
    &-row{
        padding-bottom: 120px;
        p{
            @include font-size(14px);
        }
    }

    &-split{
        &__content{
            h2,
            h3,
            h4{
                margin-bottom: 12px;
            }

            p:last-child{
                margin-bottom: 0;
            }
        }

        &__media{
            img{
                border-radius: $border-radius-lg;
            }
        }
    }

    &__media{
        border-radius: $border-radius-lg;
        img{
            border-radius: $border-radius-lg;
        }
        &--single{
            padding-bottom: 57%;
        }
        &--double{
            padding-bottom: 72.5%;
        }
    }
    &-quote{
        background-color: $dark;
        padding: 100px 48px 58px 48px;
        border-radius: $border-radius-lg;
        &:before{
            content: '"';
            position: absolute;
            top: 0;
            left: 40px;
            font-family: $font-family-sans-serif;
            color: $primary;
            @include font-size(90px);
        }
        &__text{
            @include font-size(32px);
            font-weight: 700;
            color: $white;
            line-height: 1.2;
        }
        &__media{
            height: 64px;
            width: 64px;
        }
        &__author{
            @include font-size(18px);
            font-weight: 700;
            line-height: 1;
            color: $white;
            font-style: normal;
        }
        span{
            display: block;
            color: $gray-400;
            @include font-size(14px);
            line-height: 1;
        }
        img{
            object-fit:cover;
            border-radius: $border-radius-pill;
        }
    }

    &-cta{
        border-radius: $border-radius-lg;
        padding: 80px 48px;

        &.bg-dark {
            background-color: $dark;

            .builder-cta__title {
                color: $white;
            }

            .builder-cta__subtitle {
                color: $gray-400;
            }
        }

        &.bg-white {
            background-color: $white;

            .builder-cta__title {
                color: $dark;
            }

            .builder-cta__subtitle {
                color: $gray-800;
            }
        }

        &__subtitle{
            @include font-size(18px);
            max-width: 720px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}